@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero {
  background-image: url("./assets/gplaypattern.png");
  background-repeat: repeat;
  background-size: 150px 150px; /* Adjust the size as needed */
  animation: moveBackground 40s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.secimg {
  background-image: url("./assets/bird.png");
  background-repeat: no-repeat;
  background-size: 450px 450px;
  background-position: right;
}

.whitepaper {
  background-image: url("./assets/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #272e4a;
  /* backface-visibility:hidden; */
  background-blend-mode: overlay;
}

.communityRes{
  background-image: url("./assets/communitybanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #272e4a;
  /* backface-visibility:hidden; */
  background-blend-mode: overlay;
}

.buyguide{
  background-image: url("./assets/exchangebanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #272e4a;
  /* backface-visibility:hidden; */
  background-blend-mode: overlay;
}